
body {
  background: #f4f6f9;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  margin-top: 40px;
}


h1 {
  text-align: center;
  font-size: 36px;
  color: #222;
  margin-bottom: 30px;
  font-weight: 700;
}


form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  margin-bottom: 35px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #444;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  background: #4B89DC;
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

button:hover {
  background: #3576c4;
}


.result-box {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.result-box h2 {
  margin-bottom: 12px;
  color: #1f3c88;
}

ul {
  padding-left: 20px;
  margin-top: 0;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

strong {
  color: #222;
}

.total-cost {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #2e7d32;
  text-align: center;
}
